*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  /* overflow: hidden; */
}

body{
  background-color: #FCFBF9;
  color:#4B5665;
  font-family: "Inter", sans-serif;;
}

h1,h2,h3,h4,h5,h6{
  color:#2C384A;
  font-weight: 700;
  margin:auto;
  font-size: 1.5rem;
}

@media screen and (min-width:1024px) {
  h1,h2,h3,h4,h5,h6{
    font-size: 2.25rem;
  }
}

@media screen and (min-width:768px) {
  h1,h2,h3,h4,h5,h6{
    font-size: 1.875rem;
  }
}

input{
  background-color: transparent;
}

a{
  text-decoration: none;
}

ul li{ 
  cursor: pointer;
}

.btn{
  color:white;
  font-size:1.25rem;
  border:2px solid #1B88F4;
  padding:0.75rem 1.25rem;
  background-color:#1B88F4;
  border-radius:0.75rem;
  width:max-content;
}

.btn:hover {
  text-decoration: none !important;
  transition: transform 200ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms;
  transform: scale(1.04);
  
}

.dropdown{
  position: relative;
  padding: 0rem;
}

.dropdown:hover .dropcontent{
  display: block;
}

.dropbtn{
  padding:0 0.4rem
}

.dropcontent{
  display: none;
  width:max-content;
  position: absolute;
  padding: 0.5rem 0.3rem;
  /* margin:0.1rem 0; */
  border:1.6px solid #c4c3c3;
  transform:translate(-0.6rem,0.25rem);
  border-radius:0.75rem;
  background-color: var(--bg-color);
}

.dropcontent p{
  padding: 0.2rem 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap:0.25rem;
  border-radius: 0.45rem;
}

.dropcontent p span{
  color:var(--icon-color);
}

.dropcontent p:hover{
  color:var(--icon-hover-color);
  background-color: #85858532;
}

@media screen and (max-width:786px){
  .dropcontent{
      transform:translate(-1.1rem,0.4rem);
  }
}

.role{
  background-color: #0A1617;
  color:white;
}

.role.active{
  color: rgb(11, 16, 71);
  background-color:white;
}

.swiper-button-next,
.swiper-button-prev {
   
  color: #000 !important;
  fill: black !important;
    stroke: black !important;
}

@media screen and (max-width:900px){
  .internship-section .swiper-slide:nth-child(1){
    margin-left: 1.25rem;
  }
}
@media screen and (max-width:768px){
  .internship-section .swiper-slide:nth-child(1){
    margin-left: 0.5rem;
  }
}
@media screen and (max-width:640px){
  .internship-section .swiper-slide:nth-child(1){
    margin-left: 14%;
  }
}
@media screen and (max-width:480px){
  .internship-section .swiper-slide:nth-child(1){
    margin-left: 4%;
  }
}
@media screen and (max-width:375px){
  .internship-section .swiper-slide:nth-child(1){
    margin-left: 1%;
  }
}
